{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
  <h3>Hey</h3>
  <p>This is a paragraph.</p>
  <p>This is <em>another</em> paragraph.</p>
  <p>And one more test.</p>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.common.js"></script>
  <script src="{% static 'home/main.js' %}"></script>
</body>
</html>
